// variables

*{
	margin: 0;
	padding: 0;
}

$bg-dark:#d4d4d4;
$bg-info:#f5f5f5;
$bg-success:#ececec;

$w-25:25%;
$w-33:33%;
$w-50:50%;
$w-100:100%;

$h-33:33%;

$d-flex:flex;
$d-block:block;

$p:1em;