@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');
$fontMain:'Montserrat', sans-serif;
$fontSizeSmall:0.8em;
$fontSizeMedium:1em;
$fontSizeBig:2em;

$fontBold:400;
$fontThin:300;

$fontColor:rgb(0, 0, 0);